#UploadWidget-Container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: "https://i.ibb.co/HN59Y51/SeaFace.png";

}
#upload-button-container{
    margin: 5vw;
    position: absolute;
    top: 0;
}
.Uploadpage-buttons{
    border-radius: 15px;
    padding: 3vw;
    font-size: 2vw;
    background: linear-gradient(191deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    cursor: pointer;
    transition: 1s;
    width: 27vw;
}
.start-cleaning-div{
    /* position: absolute; */
}
.Uploadpage-buttons:hover{
    background: linear-gradient(191deg, rgb(213, 222, 203) 0%, rgb(190, 195, 190) 100%);
}
.hidden-startbutton{
    display: none;
}
#readytoupload-div{
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
}
.upload-img{
width: 100%;

}
.absolute-button{
    /* position: absolute;
    top: 50%;
    left: 35%; */
}
.readytoupload-div-inner{
    display: flex;
}
.public{
    display: flex;
    width: 30vw;
}

.Uploadpage-inputbutton{
    /* padding: 2vw; */
    border-radius: 25px;
    background: linear-gradient(191deg, rgb(242, 244, 240) 0%, rgb(228, 245, 228) 100%);
    display: flex;
    align-items: center;
    width: 25vw;
}
#upload-button-container{

    margin: 5vw;
}
#enter-email-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
}
.Uploadpage-submitbutton{
    padding: 2vw;
    border-radius: 25px;
    background: linear-gradient(191deg, rgb(209, 255, 163) 0%, rgb(113, 246, 113) 100%);
    display: flex;
    align-items: center;
    width: 25vw;
}
.section-upload{
    position: absolute;
    
    top: 90%;
    left: 35%;
}
.image-1{
height: 100vh;
    
}