.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-inner-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  width: 90%;
  padding: 2rem;
  background-color: #f8f7f1;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  background: none;
  color: #121a20;
  transition: border 150ms ease-in-out;
}

.textarea {
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  background: none;
  color: #121a20;
  transition: border 150ms ease-in-out;
  resize: vertical;
}

.radio-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.register-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #27ad14;
  color: #f8f7f1;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.register-button:hover {
  background-color: #1f8b0f;
}

@media screen and (max-width: 768px) {
  .register-inner-div {
    width: 100%;
    padding: 1.5rem;
  }

  .column {
    gap: 1rem;
  }

  .register-button {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
  }
}
