<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./register.css">
    <title>Document</title>
</head>
<body>
    <div id="register-container">
        <div id="register-inner-div">
            <div>
            <img id="Logo-img-register" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F403403779%2F1236023771243%2F1%2Foriginal.20221201-213944?w=512&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C92%2C1151%2C1151&s=540d5ceecc29cde765e9a8efde1e0989" alt="Logo">
        </div>
            <h1 id='register-tittle'>Register</h1>
          <form>
            <div class="qwerty">
            <div>
            <div class="input-group">
                <input required="" type="number" name="number" autocomplete="off" class="input">
                <label class="user-label">Your Id</label>
              </div>
              <div class="input-group">
                <input required="" type="password" name="password" autocomplete="off" class="input">
                <label class="user-label">Password</label>
              </div>
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Email</label>
              </div>
              <div class="coolinput">
                <label for="input" class="text">Date of Birth:</label>
                <input type="date" placeholder="Write here..." name="input" class="input">
            </div>
            <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Bio</label>
              </div>
            </div>
            <div>
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">First Name</label>
              </div>
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Last Name</label>
              </div>
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">User Name</label>
              </div>
              <div class="input-group">
                <input required="" type="text" name="text" autocomplete="off" class="input">
                <label class="user-label">Profile IMG Src</label>
              </div>
              <div>
              </div>
            <div id="radio-sign-up">
                <label class="radio-button">
                    <input value="option1" name="example-radio" type="radio">
                    <span class="radio"></span>
                     Male
                  </label>
                  
                  <label class="radio-button">
                    <input value="option2" name="example-radio" type="radio">
                    <span class="radio"></span>
                    Female
                  </label>

                  <label class="radio-button">
                    <input value="option2" name="example-radio" type="radio">
                    <span class="radio"></span>
                     Other 
                  </label>
                  
        
        <div id="sign-up-button">
            <button>
                Sign Up
              </button>
         </div>
          </div>
        </div>
        
          </form>
          </div>
</body>
</html>